body {
	background-color:rgb(219,246,233); 
	color: rgb(21,131,187);
	font-family: 'Lato', sans-serif;
	font-size:18px
}
h1, h2, h3 {
	font-family: 'Arvo', serif;	
}
h1 {
	color: rgb(18,110,130);
	font-size: 50px;
}
h2 {

	color: rgb(255,201,60);
	font-size: 32px;
	font-weight: lighter;
}
h3 {
	color: yellow;
}
a { 
	text-decoration: none;
	color: rgb(157,223,211); 
	font-weight: bolder;
	font-weight: 0,400;
	height: 25px; width: 25px;
 }
 .btn-blue {
 	background-color:rgb(143,214,225);
 	color:rgb(21,14,86);
 	padding: 10px 40px;
 	border-radius: 4px;
 }

 a:hover {
 	color: rgb(255,203,145);
	transition: color 0.3s ease;
 }


.card-white {
	background: white;
    padding: 50px;
    margin: 30px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
    border-radius: 4px;
	margin: 40px auto;
	text-align: center;
}
.container {
	width: 600px;
	margin: 20px auto;
}

.img-circle {
	border-radius: 50%; display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;

}

@media (max-width: 960px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 730px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 540px) {
	.container {
		width: 350px;
	}
}

.list-inline {
	list-style: none;
	padding-left: 0px;

}

.list-inline li {
list-style: none;
display: inline-block;
padding: 0;
font-size: 50px;
}
ul {
/*list-style: none;*/
padding-inline-start: 0px;
}

#introduction p {
margin-bottom: 40px;
}

